<div class="container p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert" *ngIf="errorMessage">
    <span class="font-medium">Error!</span> {{errorMessage}}
</div>

<div class="flex flex-col flex-grow sm:justify-center items-center pt-6 sm:pt-0">
    <div class="mb-8">
        <a href="/" class="flex items-center">
            <img src="/assets/img/logo.png" alt="Tickets Logo">
        </a>
    </div>

    <div class="w-full sm:max-w-md mt-6 px-6 py-4 bg-white shadow-lg overflow-hidden sm:rounded-lg">
        <h1 class="text-2xl font-semibold dark:text-white mb-8 mt-4" *ngIf="isLogin">Login</h1>
        <h1 class="text-2xl font-semibold dark:text-white mb-8 mt-4" *ngIf="isRegister">Register</h1>
        <form (ngSubmit)="onSubmit()" #authForm="ngForm">
            <!-- Email Address -->
            <div>
                <label class="block font-medium text-sm text-gray-700" for="email">
                    Email
                </label>

                <input type="name" id="email" name="email"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    placeholder="Email" required email [(ngModel)]="user.email">
            </div>

            <!-- Password -->
            <div class="mt-4">
                <label class="block font-medium text-sm text-gray-700" for="password">
                    Password
                </label>

                <input type="password" id="password" name="password"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    placeholder="Password" required [(ngModel)]="user.password">
            </div>

            <div class="flex items-center justify-between mt-4">
                <button type="submit" [disabled]="!authForm.form.valid || isSubmitted" class="inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring ring-gray-300 disabled:opacity-25 transition ease-in-out duration-150">
                    <span *ngIf="isLogin">Log in</span>
                    <span *ngIf="isRegister">Register</span>
                </button>
            </div>

            <div class="flex items-center justify-between mt-6" *ngIf="isLogin">
                <a class="underline text-sm text-gray-600 hover:text-gray-900" href="/register">
                    No account? Register here!
                </a>
            </div>
        </form>
    </div>
</div>