<div class="container p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 mx-auto" role="alert" *ngIf="isSubmitted && errorMessage">
    <span class="font-medium">Error!</span> {{errorMessage}}
</div>

<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        <div class="flex flex-row justify-between">
            <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white" *ngIf="isAdd">Add asset</h2>
            <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white" *ngIf="isEdit">Edit asset</h2>
            <a class="underline text-sm text-gray-600 hover:text-gray-900" href="/admin/assets">Back to asset list</a>
        </div>
        <form (ngSubmit)="onSubmit()" [formGroup]="assetForm">
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6 mb-8">
                <div class="w-full">
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                    <input type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Name" formControlName="name">
                </div>
                <div class="w-full">
                    <label for="customer" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Customer</label>
                    <select id="customer" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" formControlName="customerId">
                        <option [ngValue]="0" disabled>Choose customer</option>
                        <option *ngFor="let customer of customers" [ngValue]="customer.id">{{customer.firstname}} {{customer.lastname}}</option>
                    </select>
                </div>
                <div class="w-full">
                    <label for="asset_type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Asset Type</label>
                    <input type="text" name="asset_type" id="asset_type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Asset Type" required formControlName="asset_type">
                </div>
            </div>
            <button type="submit" class="inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring ring-gray-300 disabled:opacity-25 transition ease-in-out duration-150">
                {{isAdd ? 'Add' : 'Save'}} Asset
            </button>
        </form>
    </div>
  </section>
