<div class="flex flex-row items-center justify-center p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 text-center h-full w-full gap-12">
    <img [src]="src" *ngIf="!!src" class="w-32">
    <div class="flex flex-col items-center justify-center">
        <p class="mb-2 text-8xl font-bold tracking-tight text-gray-900 dark:text-white">{{count}}</p>
        <p class="font-normal text-xl text-gray-700 dark:text-gray-400">{{description}}</p>
    </div>
</div>
